
h1, h2, h3, h4, h5, h6{
    padding:0;
    margin:0;
}

table, div {
    font-family: Arial, Sans-serif;
}

table {
    width: 100%;
    line-height: normal;
    color: #555;
    font-size: 12px;
    margin-left: 60px; /* Invoice margin */
    margin-right: 60px; /* Invoice margin */
}

table td, table th {
    padding:5px;
    vertical-align:top;
    line-height: inherit;
}

table tr.top td {
   padding-top: 40px;
}

/* Invoice information */
table tr.top td:nth-child(2){
    text-align:right;
}

div.title div {
    padding: 5px;
    width: 40%;
    float: left;
    margin-left: 60px; /* Invoice margin */
    line-height: 55px;
}

div.title div.watermark {
    float: right;
    margin-right: 25px; /* Invoice margin */
    line-height: normal;
}

div.title div.watermark h2.rubber-stamp {
    font-family: serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #9E1185;
/*     border: 1px solid green;
	border-color: #9E1185; */
    padding: 10px 7px;
    /* border-radius: 5px; */
    opacity: 0.8;
    text-align: right;
    width: 200px;
    float:right;
}

table tr.information td {
    padding-bottom: 20px;
}

/* Customer billing address */
table tr.information td:nth-child(3){
    text-align: right;
}

table tr.heading th {
    font-weight: bold;
    text-align: left;
    color: #FFFFFF;
}

table tr.item td{
    border-bottom: 1px solid #eee;
	text-align: left; /*Mel: 21/07/19 To align the date/time, venue text on the ticket to the left*/
}

table tr.spacer td {
    padding-top: 20px;
}

/* Totals */
table tr.total td.border {
    border-top: 2px solid #eee;
    font-weight: bold;
}

small.shipped_via {
    display: none;
}

/* Dynamic class */
table tr.total td.order-total{
    border-top: 2px solid #000;
}

table.notes {
    margin-top: 40px;
}

div.terms {
    margin-top: 40px;
    position: absolute;
    bottom: 70px;
}

table.footer {
    padding-top: 20px;
    padding-bottom: 20px; /* Invoice margin */
    width: 100%;
}

table.footer tr td {
    vertical-align: bottom;
}

table.footer tr td:nth-child(2) {
    text-align: right;
}

/* Mel: 05/08/19. Newly added CSS */

table.wallet {
	border: 1px solid grey; border-collapse;
	text-align: center;
}

table.wallet td.wallet-info {
	text-align: left;
	padding-left: 10px;
}

table.wallet td.wallet-label {
	padding-top: 12px;
}

.qr {
	right: 30px;
	bottom: 725px;
    position: absolute;
    width: 230px;
    min-height: 230px;
    border-radius: 5px;
    border-style: solid;
    border-color: #9E1185;
    border-width: thin;
    overflow: visible;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding: 7px;
}

.qr-box {
	width: 230px;
}

.product-img {
	left: 35px;
	bottom: 745px;
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 120px;
    border-style: solid;
    border-color: #9E1185;
    border-width: thin;
    overflow: hidden;
    background-size: 210px 210px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
 }

.td-space {
    width: 150px;
    height: 150px;   
}

table.new {
    margin-right: 80px;
    margin-left: 122px;
    width: 900px;
    height: 700px;
    border-style: solid;
    border-color: #9E1185;
    border-width: thin;
	padding: 0px;
	border-spacing: 0px;
    border-collapse: collapse;
}

td.button {
    background-color: #9E1185;
	text-align: center;
}

td.ticket {
	text-align: center;
}

h1.event {
    font-family: Trebuchet MS;
    font-size: 36px;
    color: #f1c40f;
	text-transform: uppercase;
	text-align: center;
}

h3.address {
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
}

h6.time {
    text-transform: uppercase;
    color: #fff;
    font-family: Helvetica;
    font-size: 12px;
	text-align: center;
}